{% extends 'cards/base.html'%}
{% block body_block%}
                   
<div class='container'>
<table class="table table-sm">
  <thead>
      
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
      <tr>
      <td><form method='POST'>{%csrf_token%} <input type="text" name="title" placeholder="title"></td>
      <td><form method='POST'>{%csrf_token%} <input type="text" name="question" placeholder="question"></td>
      <td><form method='POST'>{%csrf_token%} <input type="text" name="answer" placeholder="answer"></td>
      <td>#</td>
      <td>
            <form method='POST' action="{%url 'cards_list'%}">{%csrf_token%} 
              <button class="btn btn-success" type="submit"> _new _ </button>
            </form>
      </td>


    </tr>
  {%for o in obj%}
  <tbody>
    <tr>
      <td>{{o.title}}</td>
      <td>{{o.question}}</td>
      <td>{{o.answer}}</td>
      <td>{{o.id}}</td>
      <td>
            <form method='POST' action="{%url 'cards_list'%}">{%csrf_token%} 
              <button class='btn btn-danger' type="submit">Delete</button>
            </form>
      </td>

    </tr>
 {%endfor%}
  </tbody>
</table>
</div>

  {%endblock%}
