{% extends 'cards/base.html'%}
{% block body_block%}

        <form method="POST">
            {% csrf_token %}
            <ul>
        		<li><input type="text" name="title" placeholder="title"></li>
        		<li><input type="text" name="question" placeholder="question"></li>
        		<li><input type="text" name="answer" placeholder="answer"></li>
        		<li><input type="text" name="choice_a" placeholder="choice_a"></li>
        		<li><input type="text" name="choice_b" placeholder="choice_b"></li>
        		</ul>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">fill</button>
            </div>
        </form>
        
         
       

{%endblock%}