{% extends 'cards/base.html'%}
{% block body_block%}

        <form method="POST">
            {% csrf_token %}
            <h3>
            <ul>
        		<li><input type="text" name="title" placeholder="Title"></li>
        		<li><input type="text" name="question" placeholder="Question"></li>
        		<li><input type="text" name="answer" placeholder="Answer"></li>
        		</ul>
                </h3>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        
         
       

{%endblock%}