

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
        <input type="radio" name="4_cards" id="4_cards" autocomplete="off" value="parul_bot" > 4 cards

          </label>
            <label class="btn btn-outline-secondary">
              <input type="radio" name="10_cards" id="10_cards" autocomplete="off" value="basebot"> 10 cards
            </label>
                  
            <label class="btn btn-outline-secondary">
              <input type="radio" name="all_cards" id="all_cards" autocomplete="off" value="glossary_bot" > 
              </label>

  </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
            
            <label class="btn btn-outline-secondary">
            <form method='POST' action="{%url 'flash_cards'%}">{%csrf_token%} 
              <button class="btn btn-success" type="submit" name='all_cards'>  All cards </button>
            </form>